{% extends "base.html" %}

{% block html_title %}Quizzes - Geometas{% endblock %}

{% block main %}

    <div class="">

        {% if quiz_session %}
            <h2 class="text-2xl font-bold text-slate-900">Active</h2>
            <div class="mt-4 mb-10">
                <a href="{% url 'quiz:quiz' quiz_session.quiz.uuid %}" class="text-base font-normal text-sky-600 hover:text-sky-700">
                    Continue {{quiz_session.quiz.name}}
                </a>
            </div>
        {% endif %}

            
        <h2 class="text-2xl font-bold text-slate-900">By meta</h2>
        {% for quiz in quizzes_by_meta %}
            <div class="mt-4 ml-8">
                <a href="{% url 'quiz:quiz' quiz.uuid %}" class="text-base font-normal text-sky-600 hover:text-sky-700">
                    • {{quiz.name}}
                </a>
            </div>
        {% endfor %}
        
        <h2 class="text-2xl font-bold text-slate-900 mt-10">By country</h2>
        {% for quiz in quizzes_by_country %}
            <div class="mt-4 ml-8">
                <a href="{% url 'quiz:quiz' quiz.uuid %}" class="text-base font-normal text-sky-600 hover:text-sky-700">
                    • {{quiz.name}}
                </a>
            </div>
        {% endfor %}

        <h2 class="text-2xl font-bold text-slate-900 mt-10">Fact database count: {{ total_fact_count }}</h2>

    </div>

{% endblock %}