{% extends "quiz/quiz.html" %}

{% block title_main %}{{ quiz_session.quiz.name }}{% endblock %}

{% block quiz %}

    {% include 'quiz/components/progress_bar.html' %}
  
    <h2 class="text-2xl mt-8 sm:mt-10 text-slate-900">
        {{ fact.get_question }}
    </h2>

    {% if not fact.distinctive and not fact.distinctive_in_region %}
    <div class="rounded-md max-w-md mt-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-4 w-4 text-sky-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-1 flex-1 md:flex md:flex-none md:justify-between text-xs text-sky-700">
            This meta is not distinctive. Try guessing the country anyways!
          </div>
        </div>
      </div>   
    {% endif %}

    <div class="mt-8">
        {% include 'quiz/components/quiz_image.html' %}
    </div>

    <div class="max-w-full pt-10 fixed bottom-0 inset-x-0 sm:relative sm:bottom-auto">
        <a 
            class="font-semibold h-16 px-6 sm:rounded-lg flex items-center justify-center bg-sky-500 hover:bg-sky-400 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2 focus:ring-offset-slate-50 text-white " 
            href="{% url 'quiz:answer' quiz_session.uuid fact.uuid %}"
            id="spaceShortcut">
            See Answer
        </a>
    </div>

    <script>
        {% include 'quiz/components/js/space-shortcut.html' %}
    </script>

{% endblock %}