{% extends "template_content.html" %}

{% block title_main %}{{ session.quiz.name }} - Summary{% endblock %}

{% block content %}

    <div class="">
        {% if not user.is_authenticated %}
            <div class="border-l-4 border-emerald-400 bg-emerald-50 p-4 mb-8">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-emerald-400"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                    </svg>
                  </div>
                  <div class="ml-3 text-sm text-emerald-700">
                    <div>With a free Geometas account all your quiz progress is saved and your quizzes will automatically show the metas you should practice the most.</div>
                    <div class="pt-0.5"><a href="{% url 'login' %}" class="font-medium text-emerald-700 underline hover:text-emerald-600">Sign up for free now</a></div>
                  </div>
                </div>
              </div>
        {% endif %}

        <div class="">
            {% #heading_primary mt="mt-2" %}
                {{ correct_fact_count }} of {{ total_fact_count }} correct metas <span class="text-base font-medium text-stone-500">({{correct_percentage|floatformat:"0"}}%)</span>
            {% /heading_primary %}
        </div>

        <div class="mt-4 max-w-2xl">
            {% for quiz_session_fact in session.quizsessionfacts.all %}
                <div class="flex mb-3 h-12">
                    <div class="w-20 mr-3 flex-none">
                        <a href="{% url 'cms:fact_detail' quiz_session_fact.fact.uuid %}">
                            <img src="{{ quiz_session_fact.fact.image_url }}" class="max-h-12 ml-auto">
                        </a>
                    </div>
                    <div class="my-auto mr-3 grow">
                        <a href="{% url 'cms:fact_detail' quiz_session_fact.fact.uuid %}">
                            <p class="leading-5 text-sm sm:hidden">{{ quiz_session_fact.fact.answer|truncatechars:'50' }}</p>
                            <p class="leading-5 text-sm hidden sm:block">{{ quiz_session_fact.fact.answer|truncatechars:'100' }}</p>
                        </a>
                    </div>
                    {% if quiz_session_fact.review_result == 'correct' %}
                        <div class="flex-none my-auto text-green-600 text-sm">✅</div>
                    {% else %}
                        <div class="flex-none my-auto text-red-600 text-sm">❌</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="max-w-full pt-12 fixed bottom-0 inset-x-0 sm:relative sm:bottom-auto">
            {% url 'metas_index' as button_url %}
            {% #button_primary url=button_url html_id='spaceShortcut' %}
            Back to Home
            {% /button_primary %}
        </div>

        {% include 'quiz/components/js/space-shortcut.html' %}

    </div>

{% endblock %}