<h2 class="text-2xl font-bold text-slate-900">Regions</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-x-6">

    {% regroup countries by region as region_list %}
        
    {% for region in region_list %}
        <div class="pt-3 pb-5">
            <div class="mb-2">
                <a href="{% url 'cms:region' region.grouper.slug %}" class="text-lg font-semibold text-sky-950 hover:text-sky-700">
                        <span class="text-xl font-bold mb-2 mt-4">{{ region.grouper.name }}</span>
                        <span class="text-slate-400 font-base text-sm"> ({{ region.grouper.quiz.num_facts }})</span>
                </a>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-1 gap-x-2">
                {% for country in region.list %}
                    <div class="mb-1">
                        <a href="{% url 'cms:country' country.slug %}" class="text-base font-normal text-sky-600 hover:text-sky-800">
                            <p class="block sm:hidden">{{ country.flag_emoji }} {{ country.name|truncatechars:13 }}<span class="text-slate-400 text-sm"> ({{ country.quiz.num_facts|default:"0" }})</span></p>
                            <p class="hidden sm:block">{{ country.flag_emoji }} {{ country.name }}<span class="text-slate-400 text-sm"> ({{ country.quiz.num_facts|default:"0" }})</span></p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    
</div>