<div class="grid grid-cols -mt-6">
    <div class="mb-10">
        {% for fact in facts %}
            <div class="py-6 -mx-4 px-4 sm:-mx-8 sm:px-8">
                <div class="grid grid-cols-2 gap-4">
                    <div class="items-start bg-slate-100 rounded-md">
                        <a href="{% url 'cms:fact_detail' fact.uuid %}">
                            <img src="{{ fact.image_url }}" loading="lazy" class="{% if fact.image_is_landscape %} object-cover w-full h-60 rounded-md {% else %} object-contain max-h-60 mx-auto align-top rounded-sm {% endif %}">
                        </a>
                    </div>
                    <div class="">
                        <div class="flex flex-wrap gap-x-2 gap-y-1">
                            {% if not category %}
                                <span class="bg-sky-400 text-white rounded-xl px-2 py-1 font-medium text-xs truncate">{{ fact.category.name }}</span>
                            {% endif %}
                            {% if not country %}
                                <span class="bg-sky-400 text-white rounded-xl px-2 py-1 font-medium text-xs truncate">{{ fact.country.flag_emoji }} {{fact.country}}</span>
                            {% endif %}
                        </div>
                        <div class="my-auto mt-2">
                            <a href="{% url 'cms:fact_detail' fact.uuid %}">{{ fact.answer }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>