
<div class="grid grid-cols">
    <div class="mb-10">
        {% for fact in facts %}
            <div class="grid grid-cols-3 gap-4 mt-4">
                <div class="">
                    <img src="{{ fact.image_url }}" class="max-h-40 ml-auto">
                </div>
                <div class="col-span-2">
                    <span class="bg-sky-500 text-white rounded-lg px-2 py-1 font-medium text-xs">{{ fact.category.name }}</span>
                    <div class="my-auto mt-2">{{ fact.answer }}</div>
                </div>
            </div>
        {% endfor %}
    </div> 
</div>