{% extends "template_content_with_extra.html" %}
{% load static %} 

{% block title_main %}{{ html_meta_title }}{% endblock %}

{% block content_top_extra %}
    <!--<div class="-mx-4 -my-4 sm:-my-6 sm:-mx-8 sm:rounded-t-lg">    
        <img src="{% static 'seo/south_africa.png' %}" alt="{{ html_meta_title }}" class="w-full sm:rounded-t-lg">
    </div>-->
{% endblock %}


{% block content %}
    {% fragment as bra %}{% country name="Brazil" %}{% endfragment %}
    {% fragment as arg %}{% country name="Argentina" %}{% endfragment %}
    {% fragment as per %}{% country name="Peru" %}{% endfragment %}
    {% fragment as col %}{% country name="Colombia" %}{% endfragment %}
    {% fragment as ecu %}{% country name="Ecuador" %}{% endfragment %}
    {% fragment as chi %}{% country name="Chile" %}{% endfragment %}
    {% fragment as bol %}{% country name="Bolivia" %}{% endfragment %}
    {% fragment as mex %}{% country name="Mexico" %}{% endfragment %}
    {% fragment as uru %}{% country name="Uruguay" %}{% endfragment %}


    {% #paragraph_text %}
        Identifying the right country in Latin America can be hard. This guide helps figuring it out systematically! First, there are a few metas that are quite common and can help you pinpoint the specific country right away. If you can't find any of these, you can find the most common differences regarding poles, milestone markers, signposts, street markings, and license plates. Lastly, there are some unique metas that are only found in one country, which are listed at the bottom.
    {% /paragraph_text %}
    

    {% #heading_primary %}First impressions{% /heading_primary %}
    {% #paragraph_text %}
        Look for these metas first as they are the most common and can help you identify the country right away.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.easy.br_lang.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.easy.br_lang.image_url image_link=image_link heading="Portuguese language" %}
            {% #paragraph_text %}
                {{bra}} uses the Portuguese language which includes the 'Ç' and 'ã' characters.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.easy.black_car.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.easy.black_car.image_url image_link=image_link heading="Black Google car" %}
            {% #paragraph_text %}
                {{arg}}, {{uru}}, and some of {{per}} have a black Google car.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.easy.uy_overcast.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.easy.uy_overcast.image_url image_link=image_link heading="Overcast grassy landscape" %}
            {% #paragraph_text %}
                {{ facts.easy.uy_overcast.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


    {% #heading_primary %}License Plates{% /heading_primary %}
    {% #paragraph_text %}
        Thankfully, the 4 South African countries share the same highway sign design, which is a great way to identify the region. When you see a sign, you can use the highway letter prefix to identify the specific country.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.license_plates.br.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.license_plates.br.image_url image_link=image_link heading=bra %}
            {% #paragraph_text %}
                Commercial vehicles in Brazil have a red license plate. Non-commercial vehicles have long white plates, sometimes with a top blue bar.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.license_plates.ar.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.license_plates.ar.image_url image_link=image_link heading=arg %}
            {% #paragraph_text %}
                Some plates in Argentina have a black blob in the middle. Others are white with a top blue bar like in Brazil.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.license_plates.co.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.license_plates.co.image_url image_link=image_link heading=col %}
            {% #paragraph_text %}
            {{ facts.license_plates.co.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.license_plates.ec.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.license_plates.ec.image_url image_link=image_link heading="🇪🇨 Ecuador & 🇨🇱 Chile" %}
            {% #paragraph_text %}
                In Ecuador and Chile, commercial vehicles such as taxis have orange license plates.
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


    {% #heading_primary %}Milestones{% /heading_primary %}
    {% #paragraph_text %}
        Some Latin American countries have distinct license plates.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.milestones.br.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.milestones.br.image_url image_link=image_link heading=bra %}
            {% #paragraph_text %}
            {{ facts.milestones.br.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.milestones.ar.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.milestones.ar.image_url image_link=image_link heading=arg %}
            {% #paragraph_text %}
            {{ facts.milestones.ar.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.milestones.uy.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.milestones.uy.image_url image_link=image_link heading=uru %}
            {% #paragraph_text %}
            {{ facts.milestones.uy.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.milestones.cl.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.milestones.cl.image_url image_link=image_link heading=chi %}
            {% #paragraph_text %}
            {{ facts.milestones.cl.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.milestones.co.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.milestones.co.image_url image_link=image_link heading=col %}
            {% #paragraph_text %}
            {{ facts.milestones.co.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


    {% #heading_primary %}Signposts{% /heading_primary %}
    {% #paragraph_text %}
        Signopsts can be a great way to identify the country. They can be very helpful because you can find them in rural and urban areas.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.signposts.br.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.br.image_url image_link=image_link heading=bra %}
            {% #paragraph_text %}
            {{ facts.signposts.br.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.signposts.ec.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.ec.image_url image_link=image_link heading=ecu %}
            {% #paragraph_text %}
            {{ facts.signposts.ec.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.signposts.uy.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.uy.image_url image_link=image_link heading=uru %}
            {% #paragraph_text %}
            {{ facts.signposts.uy.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.signposts.cl.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.cl.image_url image_link=image_link heading=chi %}
            {% #paragraph_text %}
            {{ facts.signposts.cl.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.signposts.co.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.co.image_url image_link=image_link heading=col %}
            {% #paragraph_text %}
                In Colombia, it's common to see crosses on the backs of road signs. Also, Colombian signs use unique thin poles, which sometimes are painted white.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.signposts.bo.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.bo.image_url image_link=image_link heading=bol %}
            {% #paragraph_text %}
            {{ facts.signposts.bo.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.signposts.pe.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.signposts.pe.image_url image_link=image_link heading=per %}
            {% #paragraph_text %}
                In Peru, sign poles are distinctively striped in black and white. Also, they are often being set in solid concrete blocks that are elevated above ground level.
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


    {% #heading_primary %}Poles{% /heading_primary %}
    {% #paragraph_text %}
        Utility poles are found all across the continent. Memorize the most unique layouts listed here to identify the country.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.poles.br.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.br.image_url image_link=image_link heading=bra %}
            {% #paragraph_text %}
            {{ facts.poles.br.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.poles.cl.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.cl.image_url image_link=image_link heading=chi %}
            {% #paragraph_text %}
            {{ facts.poles.cl.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.poles.ar.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.ar.image_url image_link=image_link heading=arg %}
            {% #paragraph_text %}
            {{ facts.poles.ar.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.poles.ec.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.ec.image_url image_link=image_link heading=ecu %}
            {% #paragraph_text %}
            {{ facts.poles.ec.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.poles.uy.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.uy.image_url image_link=image_link heading=uru %}
            {% #paragraph_text %}
            {{ facts.poles.uy.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.poles.mx_co.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.mx_co.image_url image_link=image_link heading="🇲🇽 Mexico & 🇨🇴 Colombia" %}
            {% #paragraph_text %}
                Maxico and Colombia have octagonal poles. They tend to be more prevalent in Mexico.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.poles.pe.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.poles.pe.image_url image_link=image_link heading=per %}
            {% #paragraph_text %}
            {{ facts.poles.pe.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


    {% #heading_primary %}Road Markings{% /heading_primary %}
    {% #paragraph_text %}
        Some Latin American countries have unique street markings.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.road_markings.br.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_markings.br.image_url image_link=image_link heading=bra %}
            {% #paragraph_text %}
            {{ facts.road_markings.br.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.road_markings.ar_uy.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_markings.ar_uy.image_url image_link=image_link heading=arg %}
            {% #paragraph_text %}
            {{ facts.road_markings.ar_uy.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.road_markings.uy.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_markings.uy.image_url image_link=image_link heading=uru %}
            {% #paragraph_text %}
            {{ facts.road_markings.uy.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.road_markings.cl.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_markings.cl.image_url image_link=image_link heading=chi %}
            {% #paragraph_text %}
                In Chile, all-white or all-yellow road lines are common. Be aware that Argentina also sometimes has all-white roads, but not all-yellow.
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


    {% #heading_primary %}Unique Metas{% /heading_primary %}
    {% #paragraph_text %}
        If you can't find any of the above metas, you can use these unique metas to identify the country.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.uniques.br_dishes.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.br_dishes.image_url image_link=image_link heading="Transparent satellite dishes" %}
            {% #paragraph_text %}
                {{bra}} often has transparent satellite dishes.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.br_chevron.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.br_chevron.image_url image_link=image_link heading="Yellow-on-black chevrons" %}
            {% #paragraph_text %}
                {{bra}} mostly uses yellow-on-black chevrons.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.ar_chevron.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.ar_chevron.image_url image_link=image_link heading="Red-on-white chevrons" %}
            {% #paragraph_text %}
                {{arg}} mostly uses red-on-white chevrons.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.uy_arrows.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.uy_arrows.image_url image_link=image_link heading="Black and white arrows" %}
            {% #paragraph_text %}
                🇺🇾 Uruguayan has many of these black and white arrows affixed to walls and poles.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.uy_trafficlights.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.uy_trafficlights.image_url image_link=image_link heading="Striped traffic light poles" %}
            {% #paragraph_text %}
                {{uru}} traffic lights are often mounted on poles with black/white or black/yellow stripes.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.cl_google_car.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.cl_google_car.image_url image_link=image_link heading="Back of Google car visibile" %}
            {% #paragraph_text %}
                🇨🇱 Chile's Google car often has its white rear visible.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.cl_bus_stop.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.cl_bus_stop.image_url image_link=image_link heading="Unique bus stops" %}
            {% #paragraph_text %}
                {{chi}} has many of these bus stop shelters.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.ec_double_guardrail.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.ec_double_guardrail.image_url image_link=image_link heading="Double guardrails" %}
            {% #paragraph_text %}
                {{ecu}} frequently uses double guardrails.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.ec_bollards.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.ec_bollards.image_url image_link=image_link heading="Many bollards with red elements" %}
            {% #paragraph_text %}
            {{ecu}} has many bollards. They are either round with two red stripes or flat with two red reflectors on a black background. 
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.co_taxis.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.co_taxis.image_url image_link=image_link heading="Side taxi license plates" %}
            {% #paragraph_text %}
                🇨🇴 Colombian taxis often have license plates printed on their side. 
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.co_fence.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.co_fence.image_url image_link=image_link heading="Rudimentary wooden fences" %}
            {% #paragraph_text %}
                {{col}} has many of these rudimentary wooden fences. 
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.co_sidewalk.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.co_sidewalk.image_url image_link=image_link heading="Reddish sidewalk tiles" %}
            {% #paragraph_text %}
                {{col}} often use reddish tiles on sidewalks.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.pe_counter.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.pe_counter.image_url image_link=image_link heading="Square electricity counters" %}
            {% #paragraph_text %}
                {{per}} has these rectangular electricity counters with a rectangular section within them.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.pe_rikshaw.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.pe_rikshaw.image_url image_link=image_link heading="Tuktuks" %}
            {% #paragraph_text %}
                {{per}} is the only Latin America country that has Tuktuks.
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


{% endblock %}