{% extends "template_content_with_extra.html" %}

{%load static %}

{% block title_main %}{{ html_meta_title }}{% endblock %}

{% block content_top_extra %}
    <div class="-mx-4 -my-4 sm:-my-6 sm:-mx-8 sm:rounded-t-lg">    
        <img src="{% static 'seo/south_africa.png' %}" alt="{{ html_meta_title }}" class="w-full sm:rounded-t-lg">
    </div>
{% endblock %}


{% block content %}
    {% #paragraph_text %}
        In Geoguessr, if you see an African country with left-hand traffic, yellow road markings and no unique Google Car meta like the Kenyan snorkel, then you are in South Africa, Botswana, Lesotho, or Eswatini. Identifying which of the 4 countries you're in can be difficult at first, but there are some easy metas to learn to help you out.
    {% /paragraph_text %}
    
    {% #heading_primary %}General Landscape{% /heading_primary %}
    {% #paragraph_text %}
        Each of the 4 countries has distinct landscapes. Try identifying Botswana, Lesotho, or Eswatini by the landscape. South Africa is the most diverse country in Africa, so it's harder to identify by landscape.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.landscape.bw.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.bw.image_url image_link=image_link heading="🇧🇼 Botswana" %}
            {% #paragraph_text %}
                {{ facts.landscape.bw.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.landscape.ls.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.ls.image_url image_link=image_link heading="🇱🇸 Lesotho" %}
            {% #paragraph_text %}
                {{ facts.landscape.ls.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.landscape.sz.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.sz.image_url image_link=image_link heading="🇸🇿 Eswatini" %}
            {% #paragraph_text %}
                {{ facts.landscape.sz.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.landscape.za.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.za.image_url image_link=image_link heading="🇿🇦 South Africa" %}
            {% #paragraph_text %}
                {{ facts.landscape.za.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}        
    {% /card_image_with_description_container %}

    {% #heading_primary %}Road Names{% /heading_primary %}
    {% #paragraph_text %}
        Thankfully, the 4 South African countries share the same highway sign design, which is a great way to identify the region. When you see a sign, you can use the highway letter prefix to identify the specific country.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.road_names.bw.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_names.bw.image_url image_link=image_link heading="🇧🇼 Botswana" %}
            {% #paragraph_text %}
                Botswana's highway signs have a "A" prefix.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.road_names.ls.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_names.ls.image_url image_link=image_link heading="🇱🇸 Lesotho" %}
            {% #paragraph_text %}
                Lesotho's highway signs have a "A" prefix as well, but many signs don't show the letter at all. If you see signs without a letter, you're probably in Lesotho.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.road_names.sz.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_names.sz.image_url image_link=image_link heading="🇸🇿 Eswatini" %}
            {% #paragraph_text %}
                Eswatini's highway signs have a "MR" prefix.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.road_names.za.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.road_names.za.image_url image_link=image_link heading="🇿🇦 South Africa" %}
            {% #paragraph_text %}
                South Africa's highway signs have a "N", "M", or "R" prefix.
            {% /paragraph_text %}
        {% /card_image_with_description %}        
    {% /card_image_with_description_container %}

    {% #heading_primary %}Unique Metas{% /heading_primary %}
    {% #paragraph_text %}
        Each South African country has some distinct metas that are easy to find and help to quickly identify the country.
    {% /paragraph_text %}

    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.uniques.za_chevrons.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.za_chevrons.image_url image_link=image_link heading="Red & White Chevrons" %}
            {% #paragraph_text %}
                🇿🇦 South Africa has these red and white chevrons on many roads.
            {% /paragraph_text %}
            {% #paragraph_text %}
                🇧🇼 Botswana uses them as well but less frequently than South Africa.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.za_gen2.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.za_gen2.image_url image_link=image_link heading="Gen 2 Halo & Blur" %}
            {% #paragraph_text %}
                🇿🇦 South Africa has Gen 2 camera coverage. You will often see the halo in the sky, the circular blur beneath the Street View car, and a more blurry picture quality.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.bw_signpost.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.bw_signpost.image_url image_link=image_link heading="Black & Yellow Signposts" %}
            {% #paragraph_text %}
                🇧🇼 Botswana uses black & yellow signposts for some, but not all, of their signs.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.ls_huts.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.ls_huts.image_url image_link=image_link heading="Round Huts with Thatched Roofs" %}
            {% #paragraph_text %}
                🇱🇸 Lesotho has many of these traditional round huts with thatched roofs.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.ls_blanket.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.ls_blanket.image_url image_link=image_link heading="Basotho blanket" %}
            {% #paragraph_text %}
                🇱🇸 Lesotho is known for people wearing the traditional "Basotho blanket".
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.uniques.sz_poles.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.uniques.sz_poles.image_url image_link=image_link heading="Simple Pole with 3 Insulators" %}
            {% #paragraph_text %}
                🇸🇿 Eswatini's most common pole is wooden with three insulators on the side and has an overall simple design.
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}


{% endblock %}