{% extends "template_content_with_extra.html" %}

{%load static %}

{% block title_main %}{{ html_meta_title }}{% endblock %}

{% block content_top_extra %}
    <div class="-mx-4 -my-4 sm:-my-6 sm:-mx-8 sm:rounded-t-lg">    
        <!--<img src="{% static 'seo/world_map.jpg' %}" alt="{{ html_meta_title }}" class="w-full sm:rounded-t-lg">-->
    </div>
{% endblock %}


{% block content %}
    {% #paragraph_text %}
        In Geoguessr, if you see an African country with left-hand traffic, yellow road markings and no unique Google Car meta like the Kenyan snorkel, then you are in South Africa, Botswana, Lesotho, or Eswatini. Identifying which of the 4 countries you're in can be difficult at first, but there are some easy metas to learn to help you out.
    {% /paragraph_text %}
    
    {% #heading_primary %}General Landscape{% /heading_primary %}
    {% #paragraph_text %}
        Each of the 4 countries has distinct landscapes. Try identifying Botswana, Lesotho, or Eswatini by the landscape. South Africa is the most diverse country in Africa, so it's harder to identify by landscape.
    {% /paragraph_text %}
    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.landscape.bw.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.bw.image_url image_link=image_link heading="🇧🇼 Botswana" %}
            {% #paragraph_text %}
                {{ facts.landscape.bw.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}
        {% url 'cms:fact_detail' facts.landscape.ls.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.ls.image_url image_link=image_link heading="🇱🇸 Lesotho" %}
            {% #paragraph_text %}
            {{ facts.landscape.ls.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}
        {% url 'cms:fact_detail' facts.landscape.sz.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.sz.image_url image_link=image_link heading="🇸🇿 Eswatini" %}
            {% #paragraph_text %}
            {{ facts.landscape.sz.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}
        {% url 'cms:fact_detail' facts.landscape.sa.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.landscape.sa.image_url image_link=image_link heading="🇿🇦 South Africa" %}
            {% #paragraph_text %}
            {{ facts.landscape.sa.answer }}
            {% /paragraph_text %}
        {% /card_image_with_description %}        
    {% /card_image_with_description_container %}

{% endblock %}