{% extends "template_content_with_extra.html" %}

{%load static %}

{% block title_main %}{{ html_meta_title }}{% endblock %}

{% block content_top_extra %}
    <div class="-mx-4 -my-4 sm:-my-6 sm:-mx-8 sm:rounded-t-lg">    
        <img src="{% static 'seo/world_map.jpg' %}" alt="{{ html_meta_title }}" class="w-full sm:rounded-t-lg">
    </div>
{% endblock %}


{% block content %}
    {% #paragraph_text %}
    In Geoguessr, the "World" map is the default map of global locations. It’s used in most multiplayer modes, for instance, for all players up to the Gold rank. The World map seems to bias its random selection towards some specific locations. By learning just a few places, you can significantly increase your chances of scoring a few 5k rounds and level up. 
    {% /paragraph_text %}
    {% #paragraph_text %}
        Here are the most common Geoguessr World map locations:
    {% /paragraph_text %}
    
    {% #card_image_with_description_container %}
        {% url 'cms:fact_detail' facts.hong_kong.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.hong_kong.image_url image_link=image_link heading="🇭🇰 Hong Kong" %}
            {% #paragraph_text %}
                This specific location comes up quite often and can be an easy 5k.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.midway_atoll.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.midway_atoll.image_url image_link=image_link heading="🇺🇸 Midway Atoll" %}
            {% #paragraph_text %}
                If you see many albatrosses, you’re probably here.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.vienna.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.vienna.image_url image_link=image_link heading="🇦🇹 Vienna" %}
            {% #paragraph_text %}
                If you're in a Western European country and see these blue signs with German street names, it's most likely Vienna, Austria.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.singapore.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.singapore.image_url image_link=image_link heading="🇸🇬 Singapore" %}
            {% #paragraph_text %}
                When you see these green street signs with bold font in a big city, it's probably Singapore.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.monaco.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.monaco.image_url image_link=image_link heading="🇲🇨 Monaco" %}
            {% #paragraph_text %}
                Monaco is very easy to guess and often shows up with the same location.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.bermuda.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.bermuda.image_url image_link=image_link heading="🇧🇲 Bermuda" %}
            {% #paragraph_text %}
                Boat coverage in a tropical, western location.
            {% /paragraph_text %}
        {% /card_image_with_description %}

        {% url 'cms:fact_detail' facts.madagascar.uuid as image_link %}
        {% #card_image_with_description image_css="w-36 sm:w-44" image_url=facts.madagascar.image_url image_link=image_link heading="🇲🇬 Madagascar" %}
            {% #paragraph_text %}
            Boat coverage in an African, sandy location.
            {% /paragraph_text %}
        {% /card_image_with_description %}
    {% /card_image_with_description_container %}

{% endblock %}