{% load static %}

<!doctype html>
<html class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Local imports like Favicon and CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo/favicon-16x16.png' %}">


    <!-- Meta tags -->
    <title>{% if html_meta_title %}{{ html_meta_title }} - {% endif %}Geometas</title>


    <meta name="description" content="Become a Geoguessr champion by learning new metas and taking quizzes to practice your country meta knowledge.">
    <meta name="keywords" content="geoguessr, metas, country, continent, bollard, cars, driving direction, license plate, google car, street view, poles, street, markings, numbering, coverage, flora, language, settlement, sign">

    <!-- Open Graph tags for Facebook and other social media -->
    <meta property="og:title" content="{{ html_meta_title }}">
    <meta property="og:description" content="{{ html_meta_description }}">
    <meta property="og:image" content="{{ html_meta_image_url }}">
    <meta property="og:url" content="https://www.geometas.com{{ request.path }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ html_meta_title }}">
    <meta name="twitter:description" content="{{ html_meta_description }}">
    <meta name="twitter:image" content="{{ html_meta_image_url }}">

    <!-- Robots tag -->
    <meta name="robots" content="index, follow">
</head>

<body class="h-full">
    <div class="sm:bg-slate-200/40 min-h-full">
        <div class="bg-gradient-to-r from-sky-900 to-sky-700 pb-32">
            <nav class="">
                <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <div class="border-b border-sky-300/10">
                        <div class="flex h-16 items-center justify-between px-4 sm:px-0">
                            <div class="flex space-x-6 sm:space-x-8">
                                <a class="flex" href="{% url 'metas_index' %}">
                                    <div class="items-center my-auto mr-1">
                                        <img class="h-10 w-10" src="{% static 'logo/logo.svg' %}" alt="Geometas logo">
                                    </div>
                                    <div class="flex flex-shrink-0 items-center">
                                        <span class="font-bold text-xl bg-gradient-to-tl from-sky-300 to-emerald-300 bg-clip-text text-transparent">Geometas</span>
                                    </div>
                                </a>
                            </div>
                            <div class="ml-4 flex items-center md:ml-6">
                                <div class="relative ml-3">
                                    <a href="{% url 'accounts:profile' %}">
                                        <div class="py-1.5 px-3 bg-sky-50 hover:bg-sky-100 rounded-xl flex items-center justify-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-sky-700">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                            </svg>
                                            <div class="text-sky-700 ml-1 font-medium text-sm">Profile</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <header class="py-5 sm:py-8">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold tracking-tight text-white">{% block title_main %}Placeholder{% endblock %}</h1>
                </div>
            </header>
        </div>

    {% block main %}{% endblock %}
    </div>
</body>

<footer class="bg-slate-200/40">
    <div class="mx-auto max-w-7xl py-16 px-6 lg:px-8">
        <div class="text-slate-500 text-center text-sm mx-auto font-light">
            <p class="font-medium">💙 Important Thank-You Credits</p>
            <p>The content was imported from these amazing Geoguessr resources sites:</p>
            <p><a href="https://www.plonkit.net/" target="_blanc">Plonk It</a>, <a href="https://somerandomstuff1.wordpress.com/2019/02/08/geoguessr-the-top-tips-tricks-and-techniques/" target="_blanc">The Digital Labyrinth</a>, <a href="https://www.youtube.com/@trulybuzzy" target="_blanc">trulybuzzy</a></p>
        </div>
    </div>
</footer>

</html>