{% extends 'base.html' %}

{% block main %}
    <main class="-mt-32">
        <div class="mx-auto max-w-7xl pb-12 sm:px-6 lg:px-8">
            <div class="sm:rounded-t-lg bg-slate-100 shadow shadow-slate-300 px-4 py-4 sm:py-6 sm:px-8">
                {% block content_top_extra %}{% endblock %}
            </div>
            <div class="bg-white px-4 py-6 sm:p-8 sm:shadow sm:shadow-slate-300 sm:rounded-b-lg">
                <div class="flex-grow">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}