{% extends 'base.html' %}

{% block main %}
    
    <div class="">
        {% block content_top_extra %}{% endblock %}
    </div>
    <div class="">
        {% block title_main_override %}
            <div class="mt-10">
                <h1 class="text-3xl font-bold text-sky-950">
                    {% block title_main %}Placeholder{% endblock %}
                </h1>
            </div>
        {% endblock %}
    </div>
    <div class="mt-6">
        {% block content %}{% endblock %}
    </div>
                
{% endblock %}