<!-- 
    - pb-20 so that the image doesn't overlap with the fixed next button on mobile
    - max-h-90vh on mobile because it's a small screen and the user should rather scroll - but not too much
    - max-h-60vh on desktop because the image should fit the screen
-->
<img src="{{fact.image_url}}" alt="{{fact.answer}}" class="mt-4 w-full h-auto max-w-screen max-h-[90vh] sm:max-h-[55vh] object-contain rounded-md">
{% if fact.google_streetview_url %}
<p class="font-medium text-stone-500 pt-3 pb-20 sm:pb-0">
    <a href="{{ fact.google_streetview_url }}" target="_blanc" class="flex">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>          
        View on Streetview
    </a>
</p>
{% endif %}