<div class="md:grid md:grid-cols-2 gap-4">
    <div class="">
        {% if image_link %}<a href="{{ image_link }}">{% endif %}
            <img class="object-cover h-60 rounded-md mx-auto {{ image_width|default:'w-full' }} {{ image_css }}" src="{{ image_url }}" alt="{{ heading }}" loading="lazy">
        {% if image_link %}</a>{% endif %}
    </div>    
    <div class="pt-4 pb-6">
        {% if heading %}{% #heading_secondary mt="-mt-1" %}{{ heading }}{% /heading_secondary %}{% endif %}
        <div class="-mt-2">{{ children }}</div>
    </div>
</div>