<div class="w-full h-5 bg-[#EDEAE6]" style="
    --mask:
    radial-gradient(10.08px at 50% 14.1px,#000 99%,#0000 101%) calc(50% - 12px) 0/24px 51% repeat-x,
    radial-gradient(10.08px at 50% -8.1px,#0000 99%,#000 101%) 50% 6px/24px calc(51% - 6px) repeat-x,
    radial-gradient(10.08px at 50% calc(100% - 14.1px),#000 99%,#0000 101%) 50% 100%/24px 51% repeat-x,
    radial-gradient(10.08px at 50% calc(100% + 8.1px),#0000 99%,#000 101%) calc(50% - 12px) calc(100% - 6px)/24px calc(51% - 6px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
"></div>