<a href="{% url 'quiz:start_quiz' random_quiz_uuid %}">
    <div class="flex py-5 px-4 sm:px-6 rounded-md justify-center text-sky-800 bg-sky-100 hover:shadow-md focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2 focus:ring-offset-slate-50 min-h-[62px]">
        <div class="flex-grow flex flex-col leading-tight">
            <div class="text-sm tracking-tighter text-sky-800 opacity-80 pb-1.5">Ready to test your meta knowledge?</div>
            <div class="text-xl font-semibold">Start a random meta quiz!</div>
        </div>
        <div class="flex-0 my-auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
              </svg>              
        </div>
    </div>
</a>
