{% extends "template_content_with_extra.html" %}

{% block title_main %}{{ category.name }} Metas{% endblock %}


{% block content_top_extra %}
    <div class="text-slate-700 font-light text-sm">
        {{ category.description  }}
    </div>

    {% if quiz %}
        <div class="mt-4">
            <a 
                class="font-semibold py-3 px-6 flex flex-col rounded-md items-center justify-center bg-sky-500 hover:bg-sky-400 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2 focus:ring-offset-slate-50 text-white " 
                href="{% url 'quiz:quiz' quiz.uuid %}">
                <div class="text-xs font-light">Test your knowledge</div>
                <div class="font-bold">Start the {{quiz.name}} Quiz!</div>
            </a>
        </div>
    {% endif %}
{% endblock %}


{% block content %}

    <div class="">
        {% include 'cms/components/fact_list.html'  %}
    </div>

{% endblock %}