{% extends "template_content.html" %}

{% block title_main %}{{ fact_title }}{% endblock %}



{% block content %}

<div class="my-4">
    <div class="md:flex gap-4">
        <div class="md:flex-none rounded-md">
            {% if fact.google_streetview_url %}<a href="{{ fact.google_streetview_url }}" target="_blanc" alt="{{fact.country}} {{ fact.category.name }} Geoguessr Meta">{% endif %}
                <img src="{{ fact.image_url }}" class="object-contain h-80 mx-auto md:ml-auto rounded-md">
            {% if fact.google_streetview_url %}</a>{% endif %}
        </div>
        <div class="pt-7 md:py-0 md:flex-grow">
            <div class="">{{ fact.answer }}</div>
            <div class="mt-4 text-sm font-light text-slate-500">{{fact.notes|default:''|safe|linebreaksbr}}</div>
            <div class="mt-8 flex gap-2">
                <span class="bg-slate-300 text-slate-600 rounded-xl px-2 py-1 tracking-wide text-xs">{{ fact.category.name }}</span>
                <span class="bg-slate-300 text-slate-600 rounded-xl px-2 py-1 tracking-wide text-xs">{{ fact.country.flag_emoji }} {{fact.country}}</span>
            </div>
        </div>
    </div>

    {% if fact.google_streetview_latlng %}
    <div class="mt-16 sm:mt-32">
        {% #heading_primary %}Explore on Google Streetview{% /heading_primary %}
        <div class="relative w-100 h-[32rem]">
            <iframe
                width="100%"
                height="100%"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDZJ2U4vQ0agW_byslDEWc8sKiHd5ydtiY&location={{fact.google_streetview_latlng}}"
                allowfullscreen>
            </iframe>
            <div id="map-overlay" class="absolute inset-0 w-100 h-100 bg-white/50 backdrop-blur-md text-slate-700 text-center pt-[20%] text-3xl font-semibold cursor-pointer">Click to enable</div>
        </div>
        <script>
            document.getElementById('map-overlay').addEventListener('click', function() {
                this.style.display = 'none';
            });            
        </script>
    </div>
    {% endif %}
</div> 


{% endblock %}