{% extends "base.html" %}

{% block html_title %}Geometas{% endblock %}
{% block title_main %}Metas{% endblock %}

{% block main %}

    <div class="">

        <div class="grid grid-cols-1 sm:grid-cols-2">

            <div class="">
                <h2 class="text-2xl font-bold text-slate-900">Categories</h2>
                <div class="grid grid-cols-2 gap-2 sm:gap-3 mt-4">
                    {% for category in categories %}
                        <a href="{% url 'cms:category' category.slug %}" class="text-base font-normal text-sky-600 hover:text-sky-700">
                            {{category.name}}
                        </a>
                    {% endfor %}
                </div>
            </div> 
            
            <div class="mt-14 sm:mt-0">
                <h2 class="text-2xl font-bold text-slate-900">Regions</h2>
                <div class="grid grid-cols-2 gap-2 sm:gap-3 mt-4">
                    {% for region in regions %}
                        <a href="{% url 'cms:region' region.slug %}" class="text-base font-normal text-sky-600 hover:text-sky-700">
                            {{region.name}}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="mt-14">
                <h2 class="text-2xl font-bold text-slate-900">Countries</h2>
                <div class="grid grid-cols-2 gap-2 sm:gap-3 mt-4">
                    {% for country in countries %}
                        <a href="{% url 'cms:country' country.slug %}" class="text-base font-normal text-sky-600 hover:text-sky-700">
                            {{country.name}}
                        </a>
                    {% endfor %}
                </div>
            </div> 
        
        </div>

    </div>

{% endblock %}