{% extends "template_content_with_extra.html" %}

{% block title_main %}📍 Welcome&nbsp;&nbsp;<span class="text-xs font-thin text-slate-300">{{total_fact_count}} metas available</span>{% endblock %}

{% block content_top_extra %}
    <div class="text-slate-700 font-light text-sm">
        Become a Geoguessr champion with Geometas: find new Geoguessr metas from Google Streetview around the world and test your knowledge with quizzes.
    </div>

    <div class="mt-4 sm:flex gap-x-4">
        {% if quiz_session %}
            {% url 'quiz:start_quiz' quiz_session.quiz.uuid as button_url %}
            {% #button_primary url=button_url %}
                <div class="text-xs font-light">Continue your in-progress quiz</div>
                <div class="font-bold">{{quiz_session.quiz.name}}</div>
            {% /button_primary %}
        {% endif %}
        
        {% url 'quiz:start_quiz' random_quiz_uuid as button_url %}
        {% #button_accent url=button_url %}
            <div class="text-xs font-light">Learn some Geometas</div>
            <div class="font-bold">Start new random quiz</div>
        {% /button_accent %}
    </div>
    
{% endblock %}

{% block content %}

    <div class="">

        <div class="">
            <h2 class="text-2xl font-bold text-slate-900">Learn Geoguessr</h2>
            <ul class="ml-6 mt-2 list-disc list-outside sm:grid sm:grid-cols-2">
                <li class="mt-1">
                    {% url 'articles:country_coverage' as link_url %}
                    {% #link_primary url=link_url %}Country Coverage{% /link_primary %}
                </li>
                <li class="mt-1">
                    {% url 'articles:driving_direction' as link_url %}
                    {% #link_primary url=link_url %}Driving Direction{% /link_primary %}
                </li>
                <li class="mt-1">
                    {% url 'articles:world_map_common_locations' as link_url %}
                    {% #link_primary url=link_url %}Common World Map locations{% /link_primary %}
                </li>
                <li class="mt-1">
                    {% url 'articles:eastern_europe' as link_url %}
                    {% #link_primary url=link_url %}Country-guessing Eastern Europe{% /link_primary %}
                </li>
                <li class="mt-1">
                    {% url 'articles:south_african_countries' as link_url %}
                    {% #link_primary url=link_url %}Country-guessing Southern Africa{% /link_primary %}
                </li>
            </ul>
        </div>

        <div class="mt-4 sm:mt-12">
            {% #heading_primary %}Categories{% /heading_primary %}
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 sm:gap-x-6 mt-4">
                {% for category in categories %}
                    {% url 'cms:category' category.slug as link_url %}
                    {% #link_primary url=link_url %}
                        {{category.name}}<span class="text-slate-400 text-sm"> ({{ category.quiz.num_facts }})</span>
                    {% /link_primary %}
                {% endfor %}
            </div>
        </div> 
        
        <div class="mt-4 sm:mt-12">
            {% include 'cms/components/country_quiz_list.html' %}
        </div>

    </div>

{% endblock %}