{% extends "template_content_with_extra.html" %}
{% load static %}

{% block title_main %}📍 Welcome&nbsp;&nbsp;<span class="text-xs font-thin text-slate-300">{{total_fact_count}} metas available</span>{% endblock %}

{% block content_top_extra %}
    <div class="text-slate-700 font-light text-sm">
        Become a Geoguessr champion with Geometas: find new Geoguessr metas from Google Streetview around the world and test your knowledge with quizzes.
    </div>

    <div class="mt-4 sm:flex gap-x-4">
        {% if quiz_session %}
            {% url 'quiz:start_quiz' quiz_session.quiz.uuid as button_url %}
            {% #button_primary url=button_url %}
                <div class="text-xs font-light">Continue your in-progress quiz</div>
                <div class="font-bold">{{quiz_session.quiz.name}}</div>
            {% /button_primary %}
        {% endif %}
        
        {% url 'quiz:start_quiz' random_quiz_uuid as button_url %}
        {% #button_accent url=button_url %}
            <div class="text-xs font-light">Learn some Geometas</div>
            <div class="font-bold">Start new random quiz</div>
        {% /button_accent %}
    </div>
    
{% endblock %}

{% block content %}

    <div class="">

        <div class="">
            {% #heading_primary mt="mt-0" %}Basic Geoguessr Tips{% /heading_primary %}

            <div class="mt-4 grid grid-cols-1 sm:auto-rows-auto sm:grid-cols-2 md:grid-cols-3 gap-4">
                
                {% static 'cards/country_coverage.jpeg' as image_url %}
                {% url 'articles:country_coverage' as link_url %}
                {% content_card_home heading="Country Coverage" description="Geoguessr / Google Streetview countries" image_url=image_url link_url=link_url %}

                {% static 'cards/driving_direction.jpeg' as image_url %}
                {% url 'articles:driving_direction' as link_url %}
                {% content_card_home heading="Driving Direction" description="Direction of traffic in all countries" image_url=image_url link_url=link_url %}

                {% static 'cards/world_map_common_locations.jpeg' as image_url %}
                {% url 'articles:world_map_common_locations' as link_url %}
                {% content_card_home heading="Common Locations" description="Most frequent World Map locations to know" image_url=image_url link_url=link_url %}
            
            </div>


            {% #heading_primary mt="mt-16" %}Country-guessing Key Regions{% /heading_primary %}

            <div class="mt-4 grid grid-cols-1 sm:auto-rows-auto sm:grid-cols-2 md:grid-cols-3 gap-4">

                {% static 'cards/eastern_europe.jpeg' as image_url %}
                {% url 'articles:eastern_europe' as link_url %}
                {% content_card_home heading="Eastern Europe" description="Hungary, Czech Republic, Slovakia, Slovenia, Romania, Bulgaria, Montenegro, North Macedonia, Albania, Croatia, Serbia, Ukraine, Russia" image_url=image_url link_url=link_url %}
                
                {% static 'cards/latin_america.jpeg' as image_url %}
                {% url 'articles:latin_america' as link_url %}
                {% content_card_home heading="Latin America" description="Chile, Mexico, Ecuador, Peru, Bolivia, Argentina, Brazil, Uruguay" image_url=image_url link_url=link_url %}
                
                {% static 'cards/nordics.jpeg' as image_url %}
                {% url 'articles:nordics' as link_url %}
                {% content_card_home heading="Nordics" description="Norway, Sweden, Finland, Denmark, Iceland, Faroe Islands" image_url=image_url link_url=link_url %}

                {% static 'cards/australia_new_zealand.jpeg' as image_url %}
                {% url 'articles:australia_new_zealand' as link_url %}
                {% content_card_home heading="Oceania" description="Australia, New Zealand" image_url=image_url link_url=link_url %}

                {% static 'cards/south_africa.jpeg' as image_url %}
                {% url 'articles:south_african_countries' as link_url %}
                {% content_card_home heading="South Africa" description="South Africa, Botswana, Eswatini, Lesotho" image_url=image_url link_url=link_url %}

                {% static 'cards/south_east_asia.jpeg' as image_url %}
                {% url 'articles:south_east_asia' as link_url %}
                {% content_card_home heading="South-East Asia" description="Thailand, Cambodia, Malaysia, Indonesia, Philippines, Sri Lanka" image_url=image_url link_url=link_url %}

            </div>

        </div>

        <div class="mt-4 sm:mt-12">
            {% #heading_primary mt="mt-16" %}Categories{% /heading_primary %}
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-2 sm:gap-x-6 mt-4">
                {% for category in categories %}
                    {% url 'cms:category' category.slug as link_url %}
                    {% #link_primary url=link_url %}
                        {{category.name}}<span class="text-slate-400 text-sm"> ({{ category.quiz.num_facts }})</span>
                    {% /link_primary %}
                {% endfor %}
            </div>
        </div> 
        
        <div class="mt-4 sm:mt-12">
            {% include 'cms/components/country_quiz_list.html' %}
        </div>

    </div>

{% endblock %}